<div id="sidebar">
  <ul>
    <li>
      <h1>Listing projects</h1>
    </li>
  </ul>
</div>

<div id="contentPage">
  <table id="rounded-corner">
    <tr>
      <th class="rounded-top-left">Name</th>
      <th>Company</th>
      <th class="rounded-top-right" colspan="3"></th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%=h project.name %></td>
        <td><%=h project.company.name %></td>        
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New project', new_project_path %>
</div>

