<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Rate type</th>
    <th>Rate</th>
    <th>Duration</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.company.name %></td>
    <td><%=h project.rate_type.name %></td>
    <td><%=h project.rate %></td>
    <td><%=h project.duration %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
<%= link_to 'Add project income', new_historic_project_path %>