<div id="sidebar">
  <ul>
    <li>
      <h1>New company</h1>
    </li>
  </ul>
</div>

<div id="contentPage">
  <table id="rounded-corner">
    <tr>
      <td>
        <% form_for(@company) do |f| %>
          <%= f.error_messages %>

          <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.submit 'Create' %>
          </p>
        <% end %>
      </td>
    </tr>
  </table>

  <%= link_to 'Back', companies_path %>
</div>
