<h1>Add Projects</h1>


<% form_for @person_project do |f| %>
  <%= f.error_messages %>

  <p>Person: <%= @person.first_name + " " + @person.last_name %></p>

  <%= f.hidden_field(:person_id, :value => @person.id) %>


  <p>Projects: <%= f.select :project_id, @projects.collect {|p| [ p.name, p.id ] }, { :include_blank => false }  %></p>

  <p>Date: <%= f.date_select :date_worked %></p>

  <p>Percentage: <%= f.text_field :percentage, :size => 10  %></p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<table>
  <tr>
    <th>Person</th>
    <th>Project</th>
    <th>%</th>
    <th>Date Worked</th>
  </tr>
  <% @person.person_projects.each do |pr| %>
    <tr>
      <td><%= pr.person.first_name + " " + pr.person.last_name %></td>
      <td><%= pr.project.name %></td>
      <td><%= pr.percentage %></td>
      <td><%= pr.date_worked.strftime("%B, %Y") %></td>
      <td><%= link_to 'Destroy', "/person_projects/destroy/#{pr.id}/#{@person.id}", :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Back', person_projects_path %>