<div id="sidebar">
  <ul>
    <li>
      <h1>Report Profit</h1>
    </li>
  </ul>
</div>

<div id="contentPage">



  <h2><%= @requested_date.strftime("%B, %Y") %></h2>
  <%= select_date(@requested_date, :prefix => 'date_worked', :start_year => 2005, :end_year => 2015, :discard_day => true, :include_blank => false) %>
  <a href="#" onclick="parent.location='/person_projects/profit/' + $('date_worked_year').value + '-' + $('date_worked_month').value + '-1'">Change</a>
  <br />
  <br />


  <table>
    <tr>
      <td valign="top">


        <% form_for :person_projects, :url => { :action => "update" } do  %>
          <%= hidden_field_tag "requested_date", @requested_date   %>
          <table id="rounded-corner">
            <tr>
              <th class="rounded-top-left"></th>
              <th>Expense</th>
              <% @projects.each do |project| %>
                <th><%= project.name %></th>
              <% end %>
              <th class="rounded-top-right">TOTAL</th>
            </tr>

            <tr>
              <td>Income</td>
              <td></td>
              <% @projects.each do |project| %>
                <td><%= text_field_tag "project_#{project.id}", project.income_between(@from, @to).to_i, :size => 5,
                  :style => "background:#F0FFF0;", :onkeypress => "return isNumberKey(event)"  %></td>
              <% end %>
              <td><%= text_field_tag "project_income_total",  Project.total_income(@from, @to).to_i, :size => 5,
                :style => "background:#E6E6FA;", :onkeypress => "return isNumberKey(event)"  %></td>
            </tr>

            <% @people.each do |person| %>
              <tr>
                <td><%= person.first_name + " " + person.last_name %></td>
                <td><%= text_field_tag "person_#{person.id}", person.cost_between(@from, @to).to_i,
                  :size => 5, :style => "background:#F0FFF0;", :onkeypress => "return isNumberKey(event)"  %></td>
                <% @projects.each do |project| %>
                  <td><%= text_field_tag "person_project_#{person.id}_#{project.id}", PersonProject.percentage_between(@from, @to, person.id, project.id).to_i,
                    :size => 5, :onkeypress => "return isNumberKey(event)"  %></td>
                <% end %>
                <td><%= text_field_tag "subtotal_person_#{person.id}", person.subtotal_person(@from, @to).to_i, :size => 5,
                  :style => "background:#FFF8DC;", :onkeypress => "return isNumberKey(event)"  %></td>
              </tr>
            <% end %>
            <tr>
              <td class="rounded-bottom-left">TOTAL</td>
              <td><%= text_field_tag "person_cots_total",  Person.total_cost(@from, @to).to_i, :size => 5,
                :style => "background:#E6E6FA;", :onkeypress => "return isNumberKey(event)"  %></td>
              <% @projects.each do |project| %>
                <td><%= text_field_tag "subtotal_project_#{project.id}", project.subtotal_project(@from, @to).to_i, :size => 5,
                  :style => "background:#FFF8DC;", :onkeypress => "return isNumberKey(event)"  %></td>
              <% end %>
              <td class="rounded-bottom-right"><%= text_field_tag "total", (Project.total_income(@from, @to) - Person.total_cost(@from, @to)).to_i,
                :size => 5, :style => "background:#D3D3D3;", :onkeypress => "return isNumberKey(event)"  %></td>
            </tr>

          </table>
          <br />
          <%= submit_tag "Save" %>
        <% end %>



      </td>
      <td valign="top" align="center">
        <script type="text/javascript" src="/javascripts/swfobject.js"></script>
        <%= @graph %>
      </td>
    </tr>
  </table>

</div>


<script language="javascript">
  <!--
  function isNumberKey(evt)
  {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;

    return true;
  }
  //-->
</script>
