<h1>Report Profit</h1>

<h2><%= @requested_date.strftime("%B, %Y") %></h2>


<%= select_date(@requested_date, :prefix => 'date_worked', :start_year => 2005, :end_year => 2015, :discard_day => true, :include_blank => false) %>


<a href="#" onclick="parent.location='/person_projects/report_profit/' + $('date_worked_year').value + '-' + $('date_worked_month').value + '-1'">Change</a>
<br />
<br />


<table>
  <tr>
    <th>Project</th>
    <th>Income</th>
    <th>Person - Project</th>
  </tr>
  <% @historic_projects.each do |hp|  %>
    <tr>
      <td><%= hp.project.name  %></td>
      <td><%= hp.income  %></td>
      <td>
        <% hp.project.person_filter(@from, @to).each do |pp|  %>
          <%# debugger %>
          * <%= pp.person.first_name + " " + pp.person.last_name + " - " + pp.percentage.to_s + "% " %><br />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


