<div id="sidebar">
  <ul>
    <li>
      <h1>Report Profit</h1>

      <h2><%= @requested_date.strftime("%B, %Y") %></h2>


      <%= select_date(@requested_date, :prefix => 'date_worked', :start_year => 2005, :end_year => 2015, :discard_day => true, :include_blank => false) %>


      <a href="#" onclick="parent.location='/person_projects/report_profit/' + $('date_worked_year').value + '-' + $('date_worked_month').value + '-1'">Change</a>
    </li>
  </ul>
</div>

<div id="contentPage">

  <table>
    <tr>
      <th>Name</th>
      <th>Cost</th>
    </tr>
    <% @people.each do |person|  %>
      <tr>
        <td><%= person.first_name + " " + person.last_name %></td>
        <td><%= text_field_tag "person_#{person.id}", person.cost_between(@from, @to).to_s %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <table>
    <tr>
      <th>Name</th>
      <th>Income</th>
    </tr>
    <% @projects.each do |project|  %>
      <tr>
        <td><%= project.name %></td>
        <td><%= text_field_tag "project_#{project.id}", project.income_between(@from, @to).to_s %></td>
      </tr>
    <% end %>
  </table>

  <br />


  <hr />



  <table>
    <tr>
      <th>Project</th>
      <th>Income</th>
      <th>Person - Project</th>
      <th>Profit</th>
    </tr>
    <% @projects.each do |project|  %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.income_between(@from, @to) %></td>
        <td>
          <% project.person_filter(@from, @to).each do |pp| %>
          <%=  pp.person.first_name + " " + pp.person.last_name + " - " + pp.percentage.to_s + "%  - $ " + pp.person.cost_by_percentage(pp.percentage, @from, @to).to_s %><br />
        <% end %>
      </td>
      <td><%= "xxx"  %></td>
    </tr>
  <% end %>
  </table>


</div>


