<div id="sidebar">
</div>

<div id="contentPage">
  <h1>Editing historic_cost</h1>

  <% form_for(@historic_cost) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :person_id %><br />
      <%= f.select :person_id,  @people.collect {|p| [ p.first_name + " " + p.last_name, p.id ] }, { :include_blank => false } %>
    </p>
    <p>
      <%= f.label :cost %><br />
      <%= f.text_field :cost %>
    </p>
    <p>
      <%= f.label :historic_date %><br />
      <%= f.date_select( :historic_date, :start_year => 2009, :discard_day => true, :include_blank => false) %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>

  <%= link_to 'Back', new_historic_cost_path %>
</div>