<div id="contentPage">
  <h1>Listing historic_projects</h1>

  <table>
    <tr>
      <th>Person</th>
      <th>Cost</th>
      <th>Date</th>
    </tr>

    <% @historic_costs.each do |historic_cost| %>
      <tr>
        <td><%=h historic_cost.person.first_name + " " + h.person.last_name %></td>
        <td><%=h historic_cost.cost %></td>
        <td><%=h historic_cost.historic_date.strftime("%B, %Y") %></td>
        <td><%= link_to 'Edit', edit_historic_cost_path(historic_cost) %></td>
        <td><%= link_to 'Destroy', historic_cost, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New historic cost', new_historic_cost_path %>
  <%= link_to 'Back', '/' %>
</div>